In [9]:
import boll

In [10]:
import importlib
importlib.reload(boll)

In [11]:
import yfinance as yf

In [12]:
# 티커를 기준으로 데이터를 로드
ticker_aapl = yf.Ticker('AAPL')

In [33]:
df_aapl = ticker_aapl.history(
    start = '2020-01-01'
)

In [53]:
df_aapl.index

DatetimeIndex(['2020-01-02 00:00:00-05:00', '2020-01-03 00:00:00-05:00',
               '2020-01-06 00:00:00-05:00', '2020-01-07 00:00:00-05:00',
               '2020-01-08 00:00:00-05:00', '2020-01-09 00:00:00-05:00',
               '2020-01-10 00:00:00-05:00', '2020-01-13 00:00:00-05:00',
               '2020-01-14 00:00:00-05:00', '2020-01-15 00:00:00-05:00',
               ...
               '2025-03-11 00:00:00-04:00', '2025-03-12 00:00:00-04:00',
               '2025-03-13 00:00:00-04:00', '2025-03-14 00:00:00-04:00',
               '2025-03-17 00:00:00-04:00', '2025-03-18 00:00:00-04:00',
               '2025-03-19 00:00:00-04:00', '2025-03-20 00:00:00-04:00',
               '2025-03-21 00:00:00-04:00', '2025-03-24 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', length=1313, freq=None)

In [35]:
band_aapl = boll.create_band(df_aapl, _col='Close', _start='2010-01-01')

In [36]:
band_aapl.head()

                Close  center  up  down
Date
2020-01-02  72.716064     NaN NaN   NaN
2020-01-03  72.009094     NaN NaN   NaN
2020-01-06  72.582901     NaN NaN   NaN
2020-01-07  72.241547     NaN NaN   NaN
2020-01-08  73.403656     NaN NaN   NaN

In [39]:
trade_aapl = boll.create_trade(band_aapl)

In [41]:
trade_aapl['trade'].value_counts()

trade
       789
buy    524
Name: count, dtype: int64

In [42]:
rtn_aapl, acc_rtn_aapl = boll.create_rtn(trade_aapl)

매수일 : 2020-02-24 00:00:00, 매수가 : 72.36203002929688
매도일 : 2020-04-14 00:00:00, 매도가 : 69.6610107421875
수익률 : 0.9626735280088766
매수일 : 2020-10-30 00:00:00, 매수가 : 106.14924621582031
매도일 : 2020-12-02 00:00:00, 매도가 : 120.22221374511719
수익률 : 1.1325771781806535
매수일 : 2021-02-22 00:00:00, 매수가 : 123.25833892822266
매도일 : 2021-04-07 00:00:00, 매도가 : 125.11699676513672
수익률 : 1.0150793678794943
매수일 : 2021-05-04 00:00:00, 매수가 : 125.06806182861328
매도일 : 2021-06-14 00:00:00, 매도가 : 127.85762023925781
수익률 : 1.022304322701244
매수일 : 2021-09-20 00:00:00, 매수가 : 140.27706909179688
매도일 : 2021-10-19 00:00:00, 매도가 : 145.9886474609375
수익률 : 1.0407164079355193
매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익률 : 1.0484979544115325
매수일 : 2022-04-26 00:00:00, 매수가 : 154.29978942871094
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익률 : 0.99220841457603
매수일 : 2022-08-30 00:00:00, 매수가 : 156.82345581054688
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익률 : 0.9586558394766396
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93118286132812
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48817443847656
수익률 : 1.0337727090248054
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익률 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익률 : 1.1183747164691238
매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익률 : 0.9890863641982736
매수일 : 2024-08-05 00:00:00, 매수가 : 208.5690155029297
매도일 : 2024-09-30 00:00:00, 매도가 : 232.4883270263672
수익률 : 1.1146829574170452
매수일 : 2024-11-04 00:00:00, 매수가 : 221.52244567871094
매도일 : 2024-11-26 00:00:00, 매도가 : 234.8018341064453
수익률 : 1.059946017601279
매수일 : 2025-01-10 00:00:00, 매수가 : 236.58987426757812

/Users/kimboyun/Desktop/Code/Ubion/Python/25.03.24/boll.py:97: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.9626735280088766' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

In [43]:
acc_rtn_aapl

np.float64(1.6401001002990836)

In [49]:
boll.create_rtn(
    boll.create_trade(
        boll.create_band(
            df_aapl, _col = 'Close', _start = '2022-01-01',
            _cnt = 20
        )
    )
)

매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익률 : 1.0484979544115325
매수일 : 2022-04-26 00:00:00, 매수가 : 154.29978942871094
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익률 : 0.99220841457603
매수일 : 2022-08-30 00:00:00, 매수가 : 156.82345581054688
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익률 : 0.9586558394766396
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93118286132812
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48817443847656
수익률 : 1.0337727090248054
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익률 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익률 : 1.1183747164691238
매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익률 : 0.9890863641982736
매수일 : 2024-08-05 00:00:00, 매수가 : 208.5690155029297
매도일 : 2024-09-30 00:00:00, 매도가 : 232.4883270263672
수익률 : 1.1146829574170452
매수일 : 2024-11-04 00:00:00, 매수가 : 221.52244567871094
매도일 : 2024-11-26 00:00:00, 매도가 : 234.8018341064453
수익률 : 1.059946017601279
매수일 : 2025-01-10 00:00:00, 매수가 : 236.58987426757812

/Users/kimboyun/Desktop/Code/Ubion/Python/25.03.24/boll.py:97: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0484979544115325' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

(                 Close      center          up        down trade  rtn  \
 Date
 2022-01-03  178.879913  172.472044  180.676455  164.267632        1.0
 2022-01-04  176.609634  173.178677  180.091138  166.266216        1.0
 2022-01-05  171.911865  173.362463  179.907300  166.817627        1.0
 2022-01-06  169.042068  173.211113  180.016691  166.405534        1.0
 2022-01-07  169.209122  173.093666  180.097545  166.089788        1.0
 ...                ...         ...         ...         ...   ...  ...
 2025-03-18  212.690002  232.457500  258.495777  206.419222   buy  1.0
 2025-03-19  215.240005  230.976000  257.409379  204.542621   buy  1.0
 2025-03-20  214.100006  229.389500  255.877849  202.901152   buy  1.0
 2025-03-21  218.270004  228.025500  253.810140  202.240861   buy  1.0
 2025-03-24  220.729996  226.707000  251.040841  202.373159   buy  1.0

              acc_rtn
 Date
 2022-01-03  1.000000
 2022-01-04  1.000000
 2022-01-05  1.000000
 2022-01-06  1.000000
 2022-01-07  1.000000
 ...              ...
 2025-03-18  1.392871
 2025-03-19  1.392871
 2025-03-20  1.392871
 2025-03-21  1.392871
 2025-03-24  1.392871

 [808 rows x 7 columns],
 np.float64(1.3928710758183687))

In [54]:
trade_20 = boll.create_trade(
    boll.create_band(df_aapl, _col = 'Close', _start = "2022-01-01",
                     _cnt = 20))
trade_30 = boll.create_trade(
    boll.create_band(df_aapl, _col = 'Close', _start = "2022-01-01",
                     _cnt = 30))

In [55]:
trade_20 = trade_20[['Close', 'trade']]

In [56]:
trade_30.drop(['center', 'up', 'down'], axis=1, inplace=True)

In [57]:
import pandas as pd

In [59]:
# trade_20, trade_30을 단순한 열 결합
trade_df = pd.concat( [trade_20, trade_30], axis=1, ignore_index=True )

In [61]:
# trade_df에 2라는 컬럼을 삭제
trade_df.drop(2, axis=1, inplace=True)

In [62]:
trade_df.columns = ['Close', 'trade_20', 'trade_30']

In [65]:
# trade_20, trade_30에 둘다 buy라는 값을 가진다면 trade 컬럼에 데이터가 buy
trade_df['trade'] = ''
for idx in trade_df.index:
    if (trade_df.loc[idx, 'trade_20'] == 'buy') & (trade_df.loc[idx, 'trade_30'] == 'buy'):
        trade_df.loc[idx, 'trade'] = 'buy'

In [66]:
trade_df['trade'].value_counts()

trade
       512
buy    296
Name: count, dtype: int64

In [69]:
# trade_20, trade_30에 buy가 포함되어있는가?
flag = trade_df[['trade_20', 'trade_30']].isin(['buy']).all(axis=1)

In [70]:
trade_df['trade_2'] = ''

In [73]:
trade_df.loc[flag, 'trade_2'] = 'buy'

In [74]:
trade_df['trade_2'].value_counts()

trade_2
       512
buy    296
Name: count, dtype: int64

In [75]:
boll.create_rtn(trade_df)

매수일 : 2022-01-19 00:00:00, 매수가 : 163.3712615966797
매도일 : 2022-03-24 00:00:00, 매도가 : 171.29443359375
수익률 : 1.0484979544115325
매수일 : 2022-05-11 00:00:00, 매수가 : 144.37586975097656
매도일 : 2022-07-21 00:00:00, 매도가 : 153.09754943847656
수익률 : 1.0604095386752883
매수일 : 2022-09-29 00:00:00, 매수가 : 140.6091766357422
매도일 : 2022-10-25 00:00:00, 매도가 : 150.3397216796875
수익률 : 1.0692027737930148
매수일 : 2022-12-15 00:00:00, 매수가 : 134.93118286132812
매도일 : 2023-01-23 00:00:00, 매도가 : 139.48817443847656
수익률 : 1.0337727090248054
매수일 : 2023-08-04 00:00:00, 매수가 : 180.42221069335938
매도일 : 2023-08-31 00:00:00, 매도가 : 186.50306701660156
수익률 : 1.03370347974273
매수일 : 2023-10-26 00:00:00, 매수가 : 165.67572021484375
매도일 : 2023-11-10 00:00:00, 매도가 : 185.28753662109375
수익률 : 1.1183747164691238
매수일 : 2024-01-02 00:00:00, 매수가 : 184.53208923339844
매도일 : 2024-05-03 00:00:00, 매도가 : 182.51817321777344
수익률 : 0.9890863641982736
매수일 : 2025-01-16 00:00:00, 매수가 : 228.00930786132812

/Users/kimboyun/Desktop/Code/Ubion/Python/25.03.24/boll.py:97: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '1.0484979544115325' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  result.loc[idx, 'rtn'] = rtn

(                 Close trade_20 trade_30 trade trade_2  rtn   acc_rtn
 Date
 2022-01-03  178.879913                                  1.0  1.000000
 2022-01-04  176.609634                                  1.0  1.000000
 2022-01-05  171.911865                                  1.0  1.000000
 2022-01-06  169.042068                                  1.0  1.000000
 2022-01-07  169.209122                                  1.0  1.000000
 ...                ...      ...      ...   ...     ...  ...       ...
 2025-03-18  212.690002      buy      buy   buy     buy  1.0  1.405219
 2025-03-19  215.240005      buy      buy   buy     buy  1.0  1.405219
 2025-03-20  214.100006      buy      buy   buy     buy  1.0  1.405219
 2025-03-21  218.270004      buy      buy   buy     buy  1.0  1.405219
 2025-03-24  220.729996      buy      buy   buy     buy  1.0  1.405219

 [808 rows x 7 columns],
 np.float64(1.4052185879117205))